
<div class="manager-container">
    <div class="table-container">
      <p-table
        [value]="books"
        #dataTable
        [paginator]="true"
        [rows]="5"
        [globalFilterFields]="['title', 'author', 'quantity', 'price']"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>დასახელება</th>
            <th>რაოდენობა</th>
            <th>ავტორი</th>
            <th>ფასი</th>
          </tr>
          <tr>
            <th>
              <input
                pInputText
                (input)="filterTable($event, 'title')"
              />
            </th>
            <th>
              <input
                pInputText
                (input)="filterTable($event, 'quantity')"
              />
            </th>
            <th>
              <input
                pInputText
                (input)="filterTable($event, 'author')"
              />
            </th>
            <th>
              <input
                pInputText
                (input)="filterTable($event, 'price')"
              />
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-book>
          <tr (click)="onRowSelect(book)">
            <td>{{ book.title }}</td>
            <td>{{ book.quantity }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.price | currency: 'GEL' }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  
    <div class="button-container">
      <button
        pButton
        type="button"
        label="წიგნის დამატება"
        icon="pi pi-plus"
        (click)="showAddDialog()"
      ></button>
    </div>
  
    <app-book-dialog
      [visible]="isDialogVisible"
      [book]="selectedBook"
      [isEditing]="isEditing"
      (onClose)="closeDialog()"
      (onSave)="saveBook($event)"
      (onDelete)="deleteBook($event)"
    ></app-book-dialog>
  </div>
  
  
  



  